In [1]:
# Import pandas
import pandas as pd

# reading csv file
pd.read_csv("data.csv")

      Source  Target        Type  weight
0         16       1  Undirected       1
1       3014       1  Undirected       1
2       3015       1  Undirected       1
3          3       2  Undirected       1
4          4       2  Undirected       1
...      ...     ...         ...     ...
6469    3028    3017  Undirected       1
6470    3026    3019  Undirected       1
6471    3022    3021  Undirected       1
6472    3027    3026  Undirected       1
6473    3028    3027  Undirected       1

[6474 rows x 4 columns]